<h2>会員情報編集</h2>
<% @customer.each do |customer|%>
<%= form_with model:@customer,url:customers_information_edit_path ,local: true do |f|%>
<table>
  <tr>
    <td>氏名</td>
    <td>
      <div class="field">
        <%= f.text_field :last_name %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= f.text_field :first_name %>
      </div>
    </td>
  </tr>

  <tr>
    <td>フリガナ</td>
    <td>
      <div class="field">
        <%= f.text_field :last_name_kana %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.text_field :first_name_kana %>
      </div>
    </td>
  </tr>

  <tr>
    <td>郵便番号</td>
    <td>
      <div class="field">
        <%= f.text_field :postal_code %>
      </div>
    </td>
  </tr>

  <tr>
    <td>住所</td>
    <td>
      <div class="field">
        <%= f.text_field :address %>
      </div>
    </td>
  </tr>

  <tr>
    <td>電話番号</td>
    <td>
      <div class="field">
        <%= f.text_field :telephone_number %>
      </div>
    </td>
  </tr>

  <tr>
    <td>メールアドレス</td>
    <td>
      <div class="field">
        <%= f.email_field :email %>
      </div>
    </td>
  </tr>
</table>

  <%= f.submit "編集内容を保存" %>
  <%= link_to "退会する" , customers_unsubscript_path %>

<%end%>
<%end%>